<!-- ... (other parts of your HTML) ... -->

<div id="layoutError_footer">
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; FaceSenseTempTrack 2023</div>
                <div>
                    <a href="#" data-toggle="modal" data-target="#termsModal">Terms &amp; Conditions</a>
                    &middot;
                    <a href="#" data-toggle="modal" data-target="#termsModal1">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>
</div>



<!-- Modal for Terms and Conditions -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termsModalLabel">Terms &amp; Conditions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <h6>Giving Your Consent</h6>

                    <ul>
                        <li>By using our prototype, you're saying "yes" to us collecting, using, and handling your information just like we described in these terms.</li>
                        <li>If you change your mind, you can always take back your permission. Just let us know by going to our Facebook page named "Face Sense Temp (Temperature) Track."</li>
                    </ul>
                    
    
                    <h6>Keeping Your Information Safe</h6>
                    <ul>
                        <li>We're doing our best to protect your info from being accessed by people who shouldn't see it. We've got some good ways to make sure your details stay safe.</li>
                    </ul>
    
                    <h6>Your Rights and What You Should Do</h6>
                    <ul>
                        <li>You can look at, fix, update, or delete your information if you want. If you need to do any of these things, get in touch with us through our Facebook page named "Face Sense Temp (Temperature) Track."
                            b. When you use the prototype, please make sure the info you give us is true and up-to-date.
                        </li>
                    </ul>
    
                    <!-- Add more sections as needed -->
    
                    <h6>We're Not Responsible for Everything</h6>
                    <ul>
                        <li>If something goes wrong while you're using the prototype or because we collected your information, we're not the ones to blame. We're not responsible for any harm or loss that might happen. </li>
                    </ul>

                    <h6>If We Change These Rules</h6>
                    <ul>
                        <li>
                        We might need to change these rules every now and then. If we do, we'll put up the new rules on our website, and they'll start working right away.
                        </li>
                    </ul>

                    <h6>Contact Information</h6>
                    <p>
                        If you have any questions or concerns regarding these terms and conditions, please contact us<a href="https://www.facebook.com/jbambao09" target="_blank"> Click here! </a>
                    </p>
            </div>


            <!-- Privacy section -->

            <div class="modal-header">
                <h5 class="modal-title" id="termsModalLabel">Privacy &amp; Policy</h5>
                
                
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <h6>Collecting and Using Your Information:</h6>

                    <ul>
                        <li>We gather and utilize personal details, such as your photo, TUP-T ID, name, program (electronics, electrical, computer programming, computer hardware), and other student-related information, to enhance our prototype webpage and system. We assure you that your privacy will be protected, and we will adhere to the Data Privacy Act of 2012 (DPA) and other related laws.</li>
                        <li>Your information will be used solely for the purpose of complying with our thesis project and for further enhancing our thesis project. We will not share, sell, or provide your details to anyone unless you grant us explicit permission.</li>
                    </ul>
                    
    
                    <h6>Following the Law</h6>
                    <ul>
                        <li>These rules are based on the Data Privacy Act of 2012 (DPA) and other laws that apply.</li>
                    </ul>
    
                    <h6>Talk to Us</h6>
                    <ul>
                        <li>If you're confused, worried, or have something to say about these rules, let us know through our Facebook page named "Face Sense Temp (Temperature) Track."
                        </li>
                    </ul>
    
                    <!-- Add more sections as needed -->
    
                    

                    <h6>Contact Information</h6>
                    <p>
                        If you have any questions or concerns regarding these terms and conditions, please contact us<a href="https://web.facebook.com/profile.php?id=61550061899009&_rdc=1&_rdr" target="_blank"> Click here! </a>
                    </p>

                    <hr> 
                    <p> By using the prototype, you're telling us that you read these rules, understood them, and agree to follow them.</p>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>






