<!DOCTYPE html>
<html lang="en">

{% block content %}
<head>
    {% include "header.html" %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: whitesmoke;
      }
      .resume-section {
        margin-bottom: 30px;
      }
      .profile-picture {
        max-width: 150px;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
      }
    </style>
</head>

<body style="background-color: whitesmoke;">

    {% include "navbar.html" %}

    <section class="container" style="background-color: whitesmoke;">
        <br><br>
        <div class="card text-center">
            <div class="container">

                <h3 style="padding-top: 20px; text-align: center;">Student Data</h3>

                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="{{ url_for('face_temp.addprsn') }}" type="button" class="btn btn-primary btn-lg"><b>Add Student</b></a>
                        </div>
                        <div class="col">
                            <a href="{{ url_for('face_temp.download') }}" type="button" class="btn btn-success btn-lg"><b>Download Excel files</b></a>
                        </div>
                        <div class="col">
                            <a href="{{ url_for('face_temp.fr_page') }}" type="button" class="btn btn-info btn-lg"><b>Face Recognition</b></a>
                        </div>
                    </div>
                </div>

                <br>

                <table class="table">
                    <thead>
                        <tr>
                            <!-- Added the sorting button -->
                            <th scope="col">Student Name</th>
                            <th scope="col">Student ID</th>
                            <th scope="col">Course</th>
                            <th scope="col">Present</th>
                            <th scope="col">Date & Time</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            <td>{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                            <td>{{ item[3] }}</td>
                            <td>{{ item[4] }}</td>
                            <td>{{ item[5] }}</td>
                            <td>
                                <div class="container">
                                    <div class="row align-items-start">
                                        <div class="col">
                                            <form action="{{ url_for('face_temp.delete_student', prs_nbr=item[0]) }}" method="POST">
                                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                            </form>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                                    data-target="#updateModal_{{ item[0] }}" 
                                                    data-studentid="{{ item[0] }}" data-studentname="{{ item[1] }}"
                                                    data-studentid2="{{ item[2] }}" data-studentcourse="{{ item[3] }}">
                                                Update
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="updateModal_{{ item[0] }}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="updateModalLabel">Update Student Information</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="updateForm" action="{{ url_for('face_temp.update_student', student_id=item[0]) }}" method="POST">
                                                            <div class="form-group">
                                                                <label for="newName">New Name</label>
                                                                <input type="text" class="form-control" id="newName" name="newName" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="newID">New Student ID</label>
                                                                <input type="text" class="form-control" id="newID" name="newID" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="newCourse">New Course</label>
                                                                <select class="form-control" id="newCourse" name="newCourse" required>
                                                                    <option disabled selected value="">Select Course</option>
                                                                    <option value="BTVTED-ElXT">BTVTEd-ElxT</option>
                                                                    <option value="BTVTEd-ET">BTVTED-ET</option>
                                                                    <option value="BTVTED-CP">BTVTED-CP</option>
                                                                    <option value="BTVTED-ICT">BTVTED-ICT</option>
                                                                </select>
                                                            </div>
                                                            <button type="submit" class="btn btn-primary">Update</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>  

                                    

                            </td>                                
                        </tr>
                    
                        
                        {% endfor %}

                    </tbody>
                </table>
                <button id="sortButton" class="btn btn-secondary">Arrange Alphabetical</button>
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br>
    </section>

    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Add jQuery -->
    <script type="text/javascript">
        $(document).ready(function () {
            // Add a click event listener to the sorting button
            $('#sortButton').click(function () {
                sortTable();
            });

            // Function to sort the table rows by student name
            function sortTable() {
                var tbody = $('tbody');
                var rows = tbody.find('tr').get();
                rows.sort(function (a, b) {
                    var nameA = $(a).find('td:first').text().toUpperCase();
                    var nameB = $(b).find('td:first').text().toUpperCase();
                    return nameA.localeCompare(nameB);
                });

                // Re-append sorted rows to the table body
                $.each(rows, function (index, row) {
                    tbody.append(row);
                });
            }
        });



        $(document).ready(function () {
    $('#updateModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var studentId = button.data('studentid');
        var studentName = button.data('studentname');
        var studentID = button.data('studentid2');
        var studentCourse = button.data('studentcourse');
        
        console.log('Student ID:', studentId);
        console.log('Student Course:', studentCourse);
        
        var modal = $(this);
        var updateForm = modal.find('#updateForm');
        
        // Update the action URL of the specific form within the current modal
        updateForm.attr('action', updateForm.data('action-url').replace('0', studentId));
        
        modal.find('#newName').val(studentName);
        modal.find('#newID').val(studentID);
        
        // Set the selected option for the course dropdown
        modal.find('#newCourse option').each(function() {
            if ($(this).val() === studentCourse) {
                $(this).prop('selected', true);
            } else {
                $(this).prop('selected', false);
            }
        });
    });

    $('#updateForm').on('submit', function(event) {
        // No need to modify the action URL here
    });
});





    </script>

    {% include "footer.html" %}
</body>

</html>
{% endblock %}
