<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fred Macatigos - Resume</title>
  {% include "header.html" %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: whitesmoke;
    }
    .resume-section {
      margin-bottom: 30px;
    }
    .profile-picture {
      max-width: 150px;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
    }
  </style>
</head>
<body>
    {% include "navbar.html" %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-8 offset-md-2">
        <div class="text-center mb-4">
          <img src="{{ url_for('static', filename='img/macatigos.jpg') }}" alt="Profile Picture" class="profile-picture">
          <h1>Fred Luis Macatigos</h1>
          <p>Researcher</p>
        </div>
        
        <!-- Summary Section -->
        <div class="resume-section">
          <h2>Objectives</h2>
<p>To acquire valuable knowledge and skills to complement those that I have learn from school in an actual job environment. In return, I offer my service and my determination to be an asset to your company throughout the duration of my training period.</p>
        </div>


        <!-- Skills Section -->
        <div class="resume-section">
          <h2>Skills</h2>
          <ul>
            <li>Computer literate (MS office, MS word, MS powerPoint)</li>
            <li>Trustworthy</li>
            <li>Hardworking</li>
            <li>Fast learner</li>
          </ul>
        </div>

        <!-- Contact Section -->
        <div class="resume-section">
          <h2>Contact</h2>
          <p>
            <strong>Email:</strong> fredluis.macatigos@tup.edu.ph
            <br>
            <strong>Phone:</strong> 09393424296
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>
  {% include "footer.html" %}
</body>
</html>
