<!DOCTYPE html>
<html lang="en">
<head>
  <title>Janine Sinangote - Resume</title>
  {% include "header.html" %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: whitesmoke;
    }
    .resume-section {
      margin-bottom: 30px;
    }
    .profile-picture {
      max-width: 150px;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
    }
  </style>
</head>
<body>
    {% include "navbar.html" %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-8 offset-md-2">
        <div class="text-center mb-4">
          <img src="{{ url_for('static', filename='img/sinangote.jpg') }}" alt="Profile Picture" class="profile-picture">
          <h1>Janine Sinangote</h1>
          <p>Researcher</p>
        </div>
        
        <!-- Summary Section -->
        <div class="resume-section">
          <h2>Objectives</h2>
          <p>To encourage creativity in a way that increases student performance and to help the company
            and to sustain the good image and success in the long run.
            </p>
        </div>

        

        <!-- Skills Section -->
        <div class="resume-section">
          <h2>Skills</h2>
          <ul>
            <li>Computer Skills</li>
            <li>Personal Skills</li>
          </ul>
        </div>

        <!-- Contact Section -->
        <div class="resume-section">
          <h2>Contact</h2>
          <p>
            <strong>Email:</strong> janine.sinagote@tup.edu.ph
            <br>
            <strong>Phone:</strong> 09311420588
            <br>

          </p>
        </div>
      </div>
    </div>
  </div>
  {% include "footer.html" %}
</body>
</html>
