<!DOCTYPE html>
<html lang="en">
<head>
  <title>Annie Cocamas - Resume</title>
  {% include "header.html" %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: whitesmoke;
    }
    .resume-section {
      margin-bottom: 30px;
    }
    .profile-picture {
      max-width: 150px;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
    }
  </style>
</head>
<body>
    {% include "navbar.html" %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-8 offset-md-2">
        <div class="text-center mb-4">
          <img src="{{ url_for('static', filename='img/cocamas.jpg') }}" alt="Profile Picture" class="profile-picture">
          <h1>Annie Rose Cocamas</h1>
          <p>Researcher</p>
        </div>
        
        <!-- Summary Section -->
        <div class="resume-section">
          <h2>Objectives</h2>
<p>•	To be able to work in a company while enhancing my skills, abilities, and get experience</p>
        </div>


        <!-- Skills Section -->
        <div class="resume-section">
          <h2>Skills</h2>
          <ul>
            <li>Fast Learner</li>
            <li>Activate Leaner</li>
            <li>Computer Literate</li>
            <li>Creative Thinker</li>
          </ul>
        </div>

        <!-- Contact Section -->
        <div class="resume-section">
          <h2>Contact</h2>
          <p>
            <strong>Email:</strong> annierose.cocamas@tup.edu.ph
            <br>
            <strong>Phone:</strong> 09942237486
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>
  {% include "footer.html" %}
</body>
</html>
